<% provide(:title, "Edit Profile") %>
<%= link_to 'Back', user_path(@user), class: "btn btn-lg btn-primary", id: "button1"  %>
<br>
<h1>Edit Your Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_users' %>

      <%= f.label :name , 'Enter Name'%>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email , 'Registered E-Mail Address'%>
      <%= f.email_field :email, class: 'form-control', :readonly => true  %>

      <%= f.label :password , 'Enter Password'%>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, 'Retype Password' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update My Account", class: "btn btn-primary" %>  
    <% end %>
  </div>
</div>
<br>

