<% provide(:title, @event.name) %>
<%= link_to 'Back', events_path, class: "btn btn-lg btn-primary", id: "button1" %>
<br><br>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        Event Name: <strong> <%= @event.name %> </strong> <br><br>
      </h1>
      <%=link_to 'Edit Event', edit_event_path(@event) %> <br><br>
      <% if @tasks.count > 0 %>
        <h1> <%= pluralize(@tasks.count, "task") %> are associated with this <%= @event.name %> :</h1>
        <br>
        <table>
          <tr>
            <td><h4> Task Name &nbsp;&nbsp; </h4></td>
            <td><h4> Deadline &nbsp;&nbsp; </h4></td>
             <td><h4> Assigned To &nbsp;&nbsp; </h4></td>
            <td><h4> Links </h4></td>
          <tr>
          <% @tasks.each do |task| %>
            <tr>
              <td><strong> <%= link_to task.name, event_task_path(@event, task) %> &nbsp;&nbsp;&nbsp;&nbsp; </strong></td>
              <td> <%= task.deadline %> &nbsp;&nbsp; </td>
              <td> <%= task.user.try(:name) || "NONE" %> &nbsp;&nbsp; </td>
              <td> <%= link_to "Click To View Task" , event_task_path(@event, task) %> </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <h1> <%= "No Tasks Assigned" %>
      <% end %>
      <br><br>
      <%= link_to "Add New Task" , new_event_task_path(@event) %>
    </section>
  </aside>
</div>
